.popup__closse_img{
    width: 50px;
    height: 50px; 
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px;
    object-fit: cover;
}

.popup__bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    pointer-events: none;
    transition: 0.3s all;
    z-index: 50;
}

.popup__bg.active{
    opacity: 1;
    pointer-events: all;
    transition: 0.3s all;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}
@media (max-width:413px){
    .popup{
        width: 95%;
    }
}
.popup.active{
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}


.popup label{
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin-bottom: 5px;
}

.popup input{
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}
.popup input:focus{
    border-bottom: 1px solid #2982ff;
}
.popup input:focus + .label__text{
    color: #2982ff;
}
.popup textarea{
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}
.popup textarea:focus{
    border-bottom: 1px solid #2982ff;
}
.popup textarea:focus + .label__text{
    color: #2982ff;
}
.popup button{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #2982ff;
    background: #2982ff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}
.popup button:hover{
    background: #fff;
    color: #2982ff;
    transition: 0.5s all;
}